rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // App state synchronization collection
    match /app_state/{document} {
      allow read, write: if true;
    }

    // Students structured collection
    match /students/{studentId} {
      allow read, write: if true;
    }

    // Interviews and proctor webcam logs collection
    match /interviews/{interviewId} {
      allow read, write: if true;
    }
  }
}
